/* CSS for Picspective
fbhack, Singapore, 07 February 2015
Raymond Jacobson */
/* COLORS */
/* MIXINS */
/* GLOBALS */
::-webkit-input-placeholder {
  color: #858585;
}
:-moz-placeholder {
  color: #858585;
}
::-moz-placeholder {
  color: #858585;
}
:-ms-input-placeholder {
  color: #858585;
}
body {
  background: #eee;
  font-family: 'Lato', sans-serif;
  color: #333;
}
/* Fonts */
h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
}
h1.title {
  z-index: 100;
  margin: auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0px 15px;
  font-size: 1.5em;
  text-align: center;
  color: #e9eaeb;
  background: rgba(63,109,147,0.95);
}
h2 {
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  letter-spacing: 0px;
  text-transform: uppercase;
  width: 80%;
  margin: 40px auto 0px;
}
button {
  background: none;
  outline: 0;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border: 2px solid #333;
  padding: 10px 20px;
  cursor: pointer;
}
button:hover {
  color: #474747;
  border: 2px solid #474747;
}
input,
textarea {
  display: inline-block;
  border: none;
  background: #e2e3e4;
  box-shadow: none;
  height: 50px;
  width: 33%;
  margin: 0 2% 0 0;
  padding: 10px 20px;
  border: 1px dashed #808488;
  border-radius: 30px;
  resize: none;
}
input:focus,
textarea:focus {
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
  outline: 0;
  background: #eee;
  color: #333;
}
#container {
  position: relative;
  padding-top: 20px;
  width: 960px;
  margin: 0 auto;
  background: #dbdcdd;
  border-left: 1px dashed #808488;
  border-right: 1px dashed #808488;
}
.photostream {
  margin: 30px auto;
  text-align: center;
}
.photostream.selected {
  height: 75px;
  padding: 20px 10px;
  background: #bebebe;
}
.photostream.selected img {
  width: 75px;
  opacity: 0.3;
  padding: 0px 5px;
}
.photostream.demo img {
  width: 230px;
}
.photostream.share .author,
.photostream.share .title {
  font-size: 0.8em;
  font-weight: 100;
  letter-spacing: 1px;
  color: #fefefe;
  position: relative;
  padding: 10px;
  background: rgba(0,0,0,0.7);
  width: 380px;
  margin: 0 auto;
}
.photostream.share .author {
  top: 55px;
  height: 20px;
}
.photostream.share .title {
  height: 20px;
  bottom: 60px;
}
.photostream.share div {
  display: inline-block;
  overflow: hidden;
  height: 460px;
}
.photostream.share img {
  width: 400px;
  margin: 20px;
}
section {
  height: 90vh;
}
section i.fa-sort-desc {
  position: fixed;
  bottom: 20px;
  font-size: 3em;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0,0,0,0.2);
}
.section-content {
  margin: 100px auto 0px;
  text-align: center;
}
#search {
  top: 50%;
  padding: 5%;
  border-radius: 20px;
}
#search form {
  width: 90%;
  margin: 20px auto;
}
#search form button {
  border: none;
  height: 80px;
  display: inline-block;
  width: 10%;
}
#search form button i {
  font-size: 2em;
  color: #333;
}
#search form button:hover i {
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
  color: #808488;
}
#selection #current-image-wrap {
  width: 500px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
#selection #current-image-wrap.hovered {
  opacity: 0.5;
}
#selection #current-image-box p {
  font-size: 0.8em;
  font-weight: 100;
  letter-spacing: 1px;
  color: #fefefe;
  position: relative;
  top: -60px;
  padding: 10px;
  height: 40px;
  background: rgba(0,0,0,0.5);
}
#selection #current-image {
  width: 500px;
}
#share {
  padding: 50px 0px;
  text-align: center;
}
#title textarea {
  display: block;
  margin: 40px auto;
  height: 200px;
  padding: 40px;
}
#footer-img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50%;
}
